.app {
  padding: 1rem;
  height: 100vh;
  display: flex;
}

.app__input-area {
  padding: 1rem;
  width: 50%;
  background: ghostwhite;
}

.app__output-area {
  padding: 1rem;
  width: 50%;
  background: ghostwhite;
}

textarea {
  display: inline-block;
  width: 100%;
}

.form {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
}

.form-title {
  padding-bottom: 1rem;
}

.form-textarea {
  flex-grow: 1;
}

.form-textarea textarea {
  width: 100%;
  height: 100%;
}
